:root {
  font-family: 'Roboto';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--main-color);
  --text-color: #fffefe;
  --inverted-text-color: #161616;
  --main-color: #292521;
  --action-color: #f08214;
  --action-second-color: #ff8d19;
  --dark-color: #201d18;
  --middle-color: #302b26;
  --light-color: #423f3a;

  --green-color: #749e76;
  --yellow-color: #cac46f;
  --orange-color: #dd9d54;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #161616;
    --inverted-text-color: #fffefe;
    --main-color: #eeddd4;
    --dark-color: #dbcabc;
    --middle-color: #e6d2c9;
    --light-color: #f8e9e1;
  }
}

[data-theme="light"] {
  --text-color: #161616;
  --inverted-text-color: #fffefe;
  --main-color: #eeddd4;
  --dark-color: #dbcabc;
  --middle-color: #e6d2c9;
  --light-color: #f8e9e1;
}

[data-theme="dark"] {
  --text-color: #fffefe;
  --inverted-text-color: #161616;
  --main-color: #292521;
  --action-color: #f08214;
  --dark-color: #201d18;
  --middle-color: #302b26;
  --light-color: #423f3a;
}

@media screen and (max-width: 650px) {
  #app {
    padding: 0 !important;
  }
}


#app {
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  width: 100vw;
  min-height: 90vh;
  max-width: 1200px;
  margin: 50px auto auto auto;
}


a {
  text-decoration: none;
  color: var(--text-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  color: var(--action-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-color) !important;
  cursor: pointer;
  transition: border-color 0.25s;
  border: transparent 2px solid !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.buttonOutside {
  border: var(--dark-color) 2px solid !important;
  background-color: transparent !important;
}

.buttonOutsideInverted {
  background-color: transparent !important;
  border: var(--action-color) 2px solid !important;
}

.buttonOutsideInverted:hover {
  border: var(--dark-color) 2px solid !important;
  cursor: pointer;
}

.buttonColor {
  background-color: var(--action-color) !important;
  border: none !important;
}

.buttonColor:hover {
  background-color: var(--action-second-color) !important;
  color: var(--inverted-text-color) !important;
  cursor: pointer;
}

.buttonColorInverted {
  background-color: var(--dark-color) !important;
}

.buttonColorInverted:hover {
  background-color: var(--action-color) !important;
  opacity: 0.8;
  cursor: pointer;
}

.action-border:hover {
  border: var(--action-color) 2px solid !important;
  cursor: pointer;
}

.action-text:hover {
  color: var(--action-color) !important;
  cursor: pointer;
}

.action-text-inverted {
  color: var(--action-color) !important;
  cursor: pointer;
}

.action-text-inverted:hover {
  color: var(--text-color) !important;
}

.action-border-outside {
  border: var(--action-color) 2px solid !important;
}

.tiles {
  background-color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  padding: 10px;
  display: block;
  max-width: 175px;
  min-width: 175px;
}

.tiles:hover {
  border: 2px solid var(--action-color) !important;
  color: var(--text-color);
  cursor: pointer;
}

.tiles.mobile {
  width: 100% !important;
  min-width: 350px;
}

.v-list {
  background-color: var(--dark-color);
  color: var(--text-color);
}

.v-field {
  background-color: var(--dark-color);
  color: var(--text-color);
}

.v-text-field .v-field {
  background-color: var(--dark-color);
  color: var(--text-color);
}

.disable-text-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dash-box {
  position: relative;
  box-sizing: border-box;
}

.dash-box::before {
  content: "";
  position: absolute;

  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;

  border: 2px dashed var(--dark-color);
  border-radius: 8px;
  pointer-events: none;
}

.maintenance-icon {
  height: 25px;
}

html[data-theme="dark"] .maintenance-icon {
  filter: brightness(0) invert(1);
}